.profiles-item-1,.profiles-item-2,.profiles-item-3,.profiles-item-4,.profiles-item-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profiles-container .profiles-item-1:hover,
.profiles-container .profiles-item-2:hover,
.profiles-container .profiles-item-3:hover,
.profiles-container .profiles-item-4:hover,
.profiles-container .profiles-item-5:hover{
    box-shadow: 0px 0px 20px 0px #e9c46a;
}
.profiles-container .profiles-item-1,
.profiles-container .profiles-item-2,
.profiles-container .profiles-item-3,
.profiles-container .profiles-item-4,
.profiles-container .profiles-item-5{
    justify-content: flex-end;
    box-shadow: 0px 0px 2px 1px black;
    background-image: url(https://www.pinclipart.com/picdir/big/565-5657886_avatar-images-for-login-form-clipart.png);
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #264653;
    width: 70%;
    height: 90%;
    transition-duration: 0.5s;
}
.profiles-container .profiles-item-1 {
    z-index: 1;
    position: absolute;
    height: 70%;
  }
  
.profiles-container .profiles-item-2 {
    z-index: 2;
    position: absolute;
    height: 80%;
  }
  
.profiles-container .profiles-item-3 {
    z-index: 3;
    position: absolute;
  }
  
 .profiles-container .profiles-item-4 {
    z-index: 2;
    position: absolute;
    height: 80%;
  }
  
.profiles-container .profiles-item-5 {
    z-index: 1;
    position: absolute;
    height: 70%;
  }