.preview{
    width: 100%;
    height: auto;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
    background-color: #2a9d8f; 
    box-shadow: 0px 0px 10px 2px black;
    margin: 10px;
    width: 90%;
    height: auto;
}
.items .item{
    min-width: 200px;
    width: 200px;
    height: auto;
    background-color: #2a9d8f;
    box-shadow: 0px 0px 10px 2px black;
    margin: 20px;
}
.item:hover , .items .item:hover{
    box-shadow: 0px 0px 10px 2px #e9c46a;
    background-color: rgba(black,black,black, alpha);
}
.item .description{
    white-space: pre-wrap;
}