.star{
    display: block;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
}
.star-outside-clean,.star-outside-full{
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.star-inside{
    position: relative;
    top: -105px;
    left: 14px;
    z-index: 2;
    width: 60%;
    height: 60%;
}
.one{
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 30px solid transparent;
    border-bottom: 21px solid #000;
    border-left: 30px solid transparent;
    transform: rotate(35deg);
    }
.two {
    border-bottom: 24px solid #000;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: relative;
    height: 0;
    width: 0;
    top: -40px;
    left: 20px;
    display: block;
    transform: rotate(0deg);
    }
.three {
    position: relative;
    display: block;
    top: -45px;
    left: -3px;
    width: 0px;
    height: 0px;
    border-right: 30px solid transparent;
    border-bottom: 21px solid #000;
    border-left: 30px solid transparent;
    transform: rotate(-36deg);
    }
.star-inside .one,.star-inside .three{
    border-right: 15px solid transparent;
    border-bottom: 10.5px solid yellow;
    border-left: 15px solid transparent;
}
.star-inside .two{
    border-bottom: 12px solid yellow;
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
}
.star-inside .two{
    top:-10px;
    left:10px;
}
.star-inside .one{
    top:10px;
    left: 1px;
}
.star-inside .three{
    top:-12px;
    left: -1px;
}
.star:hover > .star-outside-clean .one,.star:hover > .star-outside-clean .two,.star:hover > .star-outside-clean .three{
    border-bottom-color:yellow;

}
.star:hover > .star-outside-full .one,.star:hover > .star-outside-full .two,.star:hover > .star-outside-full .three{
    border-bottom-color:black;
}
.star-outside-full .one,.star-outside-full .two,.star-outside-full .three{
    border-bottom-color:yellow;
}
