input:focus{
    box-shadow: 0px 0px 0px 2px  #e9c46a;
    outline: none;
}
input{
    height: 30px;
    border:none;
    width: 80%;
    margin: 10px;
    padding: 0;
    border-radius: 5px;
    text-align: center;
}