/*login*/
.box,.form{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
body, .box{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right,#264653, #2a9d8f,#264653);
}
.form input,.form button,.form .logo{
    height: 30px;
}
.form input,.form button{
    border:none;
    width: 80%;
    margin: 10px;
    padding: 0;
    border-radius: 5px;
    text-align: center;
}
.form button{
    background-color:#2a9d8f;
    color:#264653;
    font-weight: bolder;
}
.form .logo{
    width: auto;
}
.form input:focus{
    box-shadow: 0px 0px 0px 2px  #e9c46a;
    outline: none;
}
.form{
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 20%;
    height: auto;
    display: flex;
    background-color: #264653;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px black;
}
@media only screen and (min-width: 911px){
    .form{
       
        width: 20%;
       
    }
}
@media only screen and (max-width: 910px) and (min-width: 600px){
    .form{
       
        width: 30%;
        
    }
}
@media only screen and (max-width: 599px) and (min-width: 400px){
    .form{
        
        width: 50%;
      
    }
}
@media only screen and (max-width: 399px) and (min-width: 200px){
    .form{
        
        width: 90%;
        
    }
}